<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MSL.Database.v2" connectionString="Data Source=MININT-U8JO5RE;Initial Catalog=Yammer03;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="token" value="107-WjofHpXwkXjr6PEIGCdw" />
    <add key="dirPath" value="C:\ZIPTEST\ExportData" />
    <add key="dirMissedPath" value="C:\ZIPTEST\MissedExportData" />
    <add key="DBTempPath" value="C:\ZIPTEST\logs\ExportCSV" />
    <add key="YammerdirPath" value="C:\ZIPTEST\YammereDiscovery" />
    <add key="filesPath" value="C:\ZIPTEST\Files" />
    <add key="TempFilesPath" value="C:\ZIPTEST\TempFiles" />
    <add key="pagesPath" value="C:\ZIPTEST\Pages" />
    <add key="TempPagesPath" value="C:\ZIPTEST\TempPages" />
    <add key="RobocopyFileCommandTemplate" value="&quot;{0}&quot; &quot;{1}&quot; &quot;{2}&quot; /S /Z /DCOPY:T /COPY:DAT /LOG+:&quot;{3}&quot; /R:5 /W:5 /NFL /NDL" />
    <add key="RobocopyOneFileCommandTemplate" value="&quot;{0}&quot; &quot;{1}&quot; &quot;{2}&quot; /LOG+:&quot;{3}&quot; /R:5 /W:5 /NFL /NDL" />
    <add key="RobocopyMoveCommandTemplate" value="&quot;{0}&quot; &quot;{1}&quot;  /S /Z /DCOPY:T /COPY:DAT /LOG+:&quot;{2}&quot; /R:5 /W:5 /NFL /NDL" />
    <add key="BuildTime" value="11-May-2017-Prod" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="YETIDBEntities" connectionString="metadata=res://*/YetiModel.csdl|res://*/YetiModel.ssdl|res://*/YetiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=azwu2yetisql01;initial catalog=YETIDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>